@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  /* Hilangkan spinner untuk browser berbasis WebKit (Chrome, Edge, Safari) */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  /* Hilangkan spinner untuk Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
